# IDEA
.idea
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
classes/
# OSX
.DS_Store

# Scripts
*.sh

# Maven
target
pigeon-service-api/target
pigeon-service-biz/target

# Other
*.doc
local_history.patch
.svn

